<!DOCTYPE html>
{% extends 'my_website_app/base.html' %}

    {% block title_block %}
        Login
    {% endblock %}

    {% block body_block %}
        <div class="container">
            <div class="jumbotron" align="center">
                <h1>Welcome to the login page</h1>
                <form action="{% url 'user_app:login' %}" method="post">

                     {% csrf_token %}

                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="Enter Username">
                    <br>
                    <br>
                    <label for="password">Password: </label>
                    <input type="password" name="password" placeholder="Enter Password">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-primary" value="login">
                </form>
            </div>

            <div class="container" >
                <p>If you dont have an account please <a href="{% url 'user_app:register' %}">register</a> here.</p>
            </div>
        </div>

    {% endblock %}

    {% block footer_position_block %}
        position: fixed;
    {% endblock %}